<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome online pitches</title>
    {% endif %} {% extends 'base.html'%} {% import 'macros.html' as macro%}

    <!-- Styles block -->

    {% block styles%}
    {{
      super()
    }}
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/index.css')}}"
    />
    {% endblock %}
  </head>

  <body>
    <!-- Content block -->

    {% block content %}

    <div class="container">
      <div class="jumbotron" style="height: 300px; background-color: teal">
        <h1
          class="text-center"
          style="font-weight: bold; font-size: 28px; color: brown; background-color: teal;"
        >
          <div class="well" style="background-color: aquamarine">
            One Mnute Pitch
          </div>
        </h1>
      </div>
      <div class="row"></div>
    </div>

    <!-- Popular movie -->
    <!-- <h3> Popular Movies</h3>
    <ul>
        {{ macro.displayMovieList(popular)}}
    </ul> -->
    <!-- Upcoming movie  -->
    <!-- <h3> Upcoming Movies </h3>
    <ul>
        {{ macro.displayMovieList(upcoming)}}
    </ul> -->
    <!-- Now showing movie -->
    <!-- <h3>Now Showing</h3>
    <ul>
        {{ macro.displayMovieList(now_showing)}}
    </ul> -->

    {% endblock%}
  </body>
</html>
